<div class="panel panel--bordered panel--loose">
  <div class="row">
    <div class="col-12">
        <div class="form-group input--icon">
            <div class="form-group__text">
                <input name="email" type="email" [(ngModel)]="params.email" required>
                <label>Email</label>
                <button type="button" class="link" tabindex="-1">
                    <span class="icon-mail"></span>
                </button>
            </div>
            <div class="form-group__help">
              <span>Valid Email: cypress@test.com</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group input--icon">
            <div class="form-group__text">
                <input name="password" type="password" [(ngModel)]="params.password">
                <label>Password</label>
                <button type="button" class="link" tabindex="-1">
                    <span class="icon-lock"></span>
                </button>
            </div>
            <div class="form-group__help">
              <span>Valid Password: admin123</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="!isLoggin" class="col-6">
        <button type="submit" class="btn btn--success" (click)="submitLogin()">Login</button>
      </div>

      <div *ngIf="isLoggin" class="col-6">
        <button type="submit" class="btn btn--danger" (click)="submitLogout()">Logout</button>
      </div>
    </div>
</div>

<div *ngIf="showMessage" class="toast">
  <div class="toast__body">
      <div class="toast__title">Message:</div>
      <div class="toast__message">{{ message }}</div>
  </div>
</div>
